<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>large data</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/element-plus/2.9.4/index.css" />
  </head>
  <body>
    <div id="app">
      <el-input
        placeholder="测试list长度"
        type="number"
        v-model="listLength"
        style="width: 200px; margin-right: 16px"
      ></el-input>

      <el-button type="primary" @click="handleClick">open dialog</el-button>

      <el-dialog v-model="visible" title="title" style="height: 500px">
        <el-select>
          <el-option v-for="item in list" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-dialog>
    </div>

    <script type="importmap">
      {
        "imports": {
          "vue": "//cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.esm-browser.min.js",
          "element-plus": "//unpkg.com/element-plus@2.9.9/dist/index.full.mjs",
          "echarts": "//cdnjs.cloudflare.com/ajax/libs/echarts/5.6.0/echarts.min.js"
        }
      }
    </script>

    <script type="module">
      import { createApp, ref, watch } from "vue";
      import { ElButton, ElDialog, ElSelect, ElOption, ElInput } from "element-plus";

      createApp({
        components: {
          ElButton,
          ElDialog,
          ElSelect,
          ElOption,
          ElInput,
        },
        setup() {
          const visible = ref(false);
          const listLength = ref(100);
          const list = ref([]);

          function handleClick() {
            const rawList = new Array(~~listLength.value).fill(0);
            list.value = rawList.map((v, i) => ({
              id: i,
              name: `name - ${i}`,
            }));

            visible.value = true;
          }

          return {
            listLength,
            visible,
            list,
            handleClick,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
